*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.li{
    display: inline;
    padding: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0% auto;
    justify-content: center;
    flex-direction: row;
}
.imgheader{
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 500px;
   text-align: center;
}
.h1{
    position: absolute center;
   color: white;
    font-size: 120px;
}
.fotoperfil{
    background-position: center; 
    background-size: cover; 
    border-radius: 50%; 
    width: 300px; 
    height: 300px; 
    box-shadow: 2px 2px 9px rgb(163, 159, 159);
}
.hashtag{
    text-align: center;
    background-color: pink;
    padding: 20px;
    margin: 20px;

}
.contenedorinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}
.tabla{
    background-color: pink;
    border-width: 1px;
    border-color: bisque;
    padding: 20px;
    justify-content: center;

}
.texto1{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.espaciostabla1{
    font-weight: 800;
    padding: 3px;
}
.espaciostabla{
    padding: 3px;
}
.atributos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    padding: 6px;
}
.galery2{
    background-position: center; 
    background-size: cover;
    width: 500px;
    height: 500px;
    background-color: rgb(241, 240, 240);
}